{% extends "base.html" %}
{% load static %}

{% block head_title %}Atur Ulang Kata Sandi{% endblock head_title %}

{% block content %}
<div class="container my-4">
    <h2>Atur Ulang Kata Sandi</h2>

    {% if user.is_authenticated %}
         <p>Anda sudah masuk sebagai {{ user.nickname }}.</p>
    {% endif %}

    <p>Kami telah mengirimkan email kepada Anda. Jika Anda belum menerimanya, silakan periksa folder spam Anda. Hubungi kami jika Anda tidak menerimanya dalam beberapa menit.</p>
    <p><a href="{% url 'account_login' %}" class="btn btn-secondary mt-3">Kembali ke Halaman Masuk</a></p>
</div>
{% endblock %}