{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-4">
  <a href="{% url 'profile' %}" class="btn btn-outline-primary mb-3">&larr; Kembali</a>
  <h2>Pengaturan Keamanan Akun</h2>
  
  <!-- Section for Changing Email -->
  <div class="mb-4">
    <h3>Ubah Alamat Email</h3>
    <p>Untuk mengubah alamat email Anda, klik tombol di bawah ini.</p>
    <a href="{% url 'request_email_change' %}" class="btn btn-primary">Ubah Alamat Email</a>
  </div>

  <!-- Section for Changing Password -->
  <div class="mb-4">
    <h3>Ubah Kata Sandi</h3>
    <p>Untuk mengubah kata sandi Anda, klik tombol di bawah ini.</p>
    <a href="{% url 'password_change' %}" class="btn btn-primary">Ubah Kata Sandi</a>
  </div>
</div>
{% endblock %}
