{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
  {{ block.super }}
  <h2>Turnamen Mendatang</h2>
  <ul>
    {% for tournament in tournaments %}
      <li>{{ tournament.name }} - {{ tournament.start_date }}</li>
    {% empty %}
      <li>Belum ada data turnamen.</li>
    {% endfor %}
  </ul>
  <h2>Penilaian IP terbaru</h2>
  <ul>
    {% for opinion in recent_ip_opinions %}
      <li>{{ opinion.ip_account.nickname }} memberikan penilaian kepada {{ opinion.athlete_identifier }}: {{ opinion.opinion_rating }}</li>
    {% empty %}
      <li>Belum ada data penilaian yang diberikan.</li>
    {% endfor %}
  </ul>
{% endblock %}
