{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="my-4">
  <h2>Finalisasi Rating Awal Atlet</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Atlet</th>
        <th>Rating dari IP</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for athlete in athletes %}
        <tr>
          <td>{{ athlete.user.nickname }}</td>
          <td>
            {% with opinions=athlete.ip_opinions.all %}
              {% if opinions %}
                  <ul>
                      {% for opinion in opinions %}
                          <li>{{ opinion.ip_account.nickname }} - {{ opinion.opinion_rating }}</li>
                      {% endfor %}
                  </ul>
              {% else %}
                  <p>Belum ada yang memberikan rating.</p>
              {% endif %}
            {% endwith %}
          </td>
          <td>
            <a href="{% url 'accounts:finalize_rating_admin' athlete.id %}" class="btn btn-warning btn-sm">Finalisasi</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Belum ada atlet yang harus difinalisasi.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
