{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="my-4">
  <h2>Ubah Kata Sandi</h2>
  <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="mb-3">
          <label for="{{ form.old_password.id_for_label }}" class="form-label">Kata Sandi Lama</label>
          {{ form.old_password }}
          {% if form.old_password.errors %}
            <div class="text-danger">{{ form.old_password.errors }}</div>
          {% endif %}
      </div>
      <div class="mb-3">
          <label for="{{ form.new_password1.id_for_label }}" class="form-label">Kata Sandi Baru</label>
          {{ form.new_password1 }}
          {% if form.new_password1.errors %}
            <div class="text-danger">{{ form.new_password1.errors }}</div>
          {% endif %}
      </div>
      <div class="mb-3">
          <label for="{{ form.new_password2.id_for_label }}" class="form-label">Konfirmasi Kata Sandi Baru</label>
          {{ form.new_password2 }}
          {% if form.new_password2.errors %}
            <div class="text-danger">{{ form.new_password2.errors }}</div>
          {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Ubah</button>
  </form>
</div>
{% endblock %}
