{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>List Turnamen</h1>

    {% if user.is_authenticated and user.role == 'ip' %}
      <a href="{% url 'tournaments:create' %}" class="btn btn-success">Buat Turnamen Baru</a>
    {% endif %}
  </div>
  
  <h2>Turnamen Mendatang</h2>
  <div class="list-group mb-5">
    {% for tournament in upcoming_tournaments %}
      <a href="{% url 'tournaments:tournament_detail' tournament.id %}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ tournament.name }}</h5>
        <p class="mb-1">Tanggal Mulai: {{ tournament.start_date }}</p>
      </a>
    {% empty %}
      <p>Belum ada turnamen yang mendatang.</p>
    {% endfor %}
  </div>

  <h2>Turnamen yang Sudah Selesai</h2>
  <div class="list-group">
    {% for tournament in finished_tournaments %}
      <a href="{% url 'tournaments:tournament_detail' tournament.id %}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ tournament.name }}</h5>
        <p class="mb-1">{{ tournament.start_date }}</p>
      </a>
    {% empty %}
      <p>Belum ada turnamen yang sudah selesai.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}