{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="my-4">
  <h2>Peringkat Atlet</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Peringkat</th>
        <th>Atlet</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for athlete in athletes %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ athlete.user.nickname }}</td>
          <td>{{ athlete.current_rating }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Belum ada data atlet.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
