{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="my-4">
  <h2>Athlete Rankings</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Athlete</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for athlete in athletes %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ athlete.user.username }}</td>
          <td>{{ athlete.current_rating }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No athlete data available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
