{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Table Tennis App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Table Tennis Tournament</h1>
        <nav>
            <a href="{% url 'dashboard:home' %}">Home</a> |
            {% if user.is_authenticated %}
                Hello, {{ user.username }}! (
                  <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                  </form>)
            {% else %}
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Sistem Informasi Tenis Meja</p>
    </footer>
</body>
</html>

{{ form.non_field_errors }}
    {% for field in form %}
      <div>
        {{ field.label_tag }}<br>
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}