{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="my-4">
  <h2>Beranda Aplikasi Web Tenis Meja</h2>
  <hr>
  
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <h3>Turnamen Mendatang</h3>
      <ul class="list-group">
        {% for tournament in tournaments %}
          <a href="{% url 'tournaments:tournament_detail' tournament.id %}" class="list-group-item list-group-item-action">
            <h5 class="mb-1">{{ tournament.name }}</h5>
            <p class="mb-1">Tanggal Mulai: {{ tournament.start_date }}</p>
          </a>
        {% empty %}
          <li class="list-group-item">Belum ada turnamen yang mendatang.</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-6">
      <h3>Atlet Teratas</h3>
      <table class="table table-striped table-hover table-bordered">
        <thead class="text-center">
          <tr>
            <th class="text-center">Peringkat</th>
            <th class="text-start">Atlet</th>
            <th class="text-center">Rating</th>
          </tr>
        </thead>
        <tbody>
          {# The loop now iterates over 'top_athletes' #}
          {% for athlete in top_athletes %}
            {# The row is clickable, just like on the ranking page #}
            <tr class="clickable-row" onclick="window.location.href='{% url 'public_profile' athlete.id %}';">
              
              <td class="text-center align-middle fw-bold">{{ forloop.counter }}</td>
      
              <td class="align-middle">
                <img src="{% if athlete.user.profile_image %}{{ athlete.user.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}" class="rounded-circle me-2" style="width:30px; height:30px; object-fit:cover;" alt="Profile Picture">
                {{ athlete.user.nickname }}
              </td>
      
              <td class="text-center align-middle">{{ athlete.current_rating }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3" class="text-center">Belum ada data atlet.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
